@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "SFUIDisplayRegular", sans-serif
	overflow-x: hidden
	background-color: #f7f7f7

.hidden
	display: none

.header
	&__top
		background-color: #272727
		height: 35px
	&__bottom
		height: 75px
	&__other
	&__logo
.other
	@extend .clearfix
	&__item
		width: 50%
		display: block
		float: left
		text-align: center
	&__link
		display: inline-block
		font-size: 13px
		color: rgba(#fff,.5)
		line-height: 35px
		&:hover
			color: #fff
.phone
	@extend .clearfix
	&__item
		width: 50%
		display: block
		float: left
		text-align: left
		font-size: 13px
		color: rgba(#fff,.5)
		line-height: 35px
		&:last-child
			text-align: right
.logo
	height: 75px
	padding-top: 15px
	&__link
		display: block
		width: 179px
		height: 46px
	&__img
		display: block
.nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	width: 100%
	justify-content: space-between
	&__item
		display: block
		position: relative
		height: 75px
		padding-top: 26px
	&__active
		.nav__link
			border-color: #00961b
			color: #00961b
	&__link
		color: #272727
		font-size: 14px
		border-bottom: 2px solid transparent
		display: inline
		padding: 6px 18px
		&:hover
			border-color: #00961b
			color: #00961b
.slider
	height: 570px
	position: relative
	.slick-dots
		font-size: 0
		text-align: center
		position: absolute
		bottom: 40px
		left: 0
		right: 0
		.slick-active
			background-color: #fff !important
		li
			text-indent: -9999px
			width: 37px
			height: 4px
			border-radius: 2px
			background-color: rgba(#000,.5);
			margin: 0 8.5px
			display: inline-block
			@include transition(all 0.2s ease-in-out)
			cursor: pointer
			&:hover
				background-color: #000
	&__item
		height: 100%
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
	&__content
		padding: 0 16px
		position: absolute
		left: 0
		top: 50%
		transform: translateY(-50%)
		&-wp
			height: 570px
			position: relative
	&__title
		font-size: 47.85px
		color: #fff
		text-transform: uppercase
		font-family: "SFUIDisplayBold", sans-serif
		letter-spacing: 0.5px
		text-shadow: 0px 0px 18px rgba(150, 150, 150, 1)
	&__description
		font-size: 30px
		color: #fff
		letter-spacing: 0.5px
		text-shadow: 0px 0px 18px rgba(150, 150, 150, 1)
	&__more
		height: 42px
		display: inline-block
		border-radius: 2px
		border: 1px solid #fff
		color: #fff
		line-height: 40px
		text-align: center
		padding: 0 40px
		font-family: "SFUIDisplayMedium", sans-serif
		@include transition(all 0.5s ease-in-out)
		margin-top: 32px
		&:hover
			background-color: #fff
			color: #272727
.s-form
	border-radius: 4px
	display: block
	padding: 48px 50px 52px 50px
	position: absolute
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	background: rgba(217,217,217,1)
	background: -moz-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(255,255,255,0.9) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,217,217,1)), color-stop(100%, rgba(255,255,255,0.9)))
	background: -webkit-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(255,255,255,0.9) 100%)
	background: -o-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(255,255,255,0.9) 100%)
	background: -ms-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(255,255,255,0.9) 100%)
	background: linear-gradient(to right, rgba(217,217,217,1) 0%, rgba(255,255,255,0.9) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#ffffff', GradientType=1 )

	&__wp
		height: 570px
		position: relative
	&__title
		padding-left: 60px
		background-image: url(../img/icon/1.png)
		background-repeat: no-repeat
		background-position: left center
		display: block
		font-family: "SFUIDisplayMedium", sans-serif
		font-size: 24px
		line-height: 24px
		color: #272727
	&__center
		padding-top: 35px
	&__input
		width: 100%
		display: block
		height: 40px
		padding-left: 22px
		border: none
		margin-bottom: 30px
	&__button
		display: block
		width: 100%
		height: 50px
		border: none
		background-color: #0a84e5
		border: 1px solid #0a84e5
		text-transform: uppercase
		text-align: center
		color: #fff
		line-height: 48px
		font-family: "SFUIDisplaySemibold", sans-serif
		@include transition(all 0.5s ease-in-out)
		&:hover
			background-color: transparent
			color: #0a84e5
	&__description
		color: #808080
		font-size: 14px
		line-height: auto
		display: block
		padding: 20px 15px 0
.factoids
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	padding-top: 36px
	padding-bottom: 64px
	&__item
		text-align: center
	&__big
		position: relative
		color: #779c1b
		font-size: 48px
		font-family: "SFUIDisplayLight", sans-serif
		display: inline-block
	&__small
		position: absolute
		color: #779c1b
		font-size: 16px
		top: 5px
		display: block
		font-family: "SFUIDisplayLight", sans-serif
	&__text
		display: inline-block
		color: #4c4c4c
		font-size: 18px
		font-family: "SFUIDisplayLight", sans-serif
.weAreWorking
	position: relative
	height: 300px
	&__wp
		padding-bottom: 84px
	&__img
		display: block
		width: 437px
		height: auto
		float: left
	&__description
		color: #4c4c4c
		font-size: 14px
		line-height: 22px
		position: absolute
		left: 473px
		top: 50%
		transform: translateY(-50%)
.footer
	background-color: #272727
	height: 72px
	.logo
		padding-top: 17px
		height: 72px
	.logo__link
		width: 135px
		height: 35px
	.phone__item
		line-height: 72px
	.other__link
		line-height: 72px
.copy
	font-size: 13px
	font-family: "SFUIDisplayMedium", sans-serif
	color: #808080
	line-height: 72px
	display: block
	text-align: center
	white-space: nowrap
.designed
	width: 100%
	position: relative
	&__text
		font-size: 13px
		color: #808080
		line-height: 72px
		padding-left: 82px
	&__img
		display: block
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
.path
	background-color: #fff
	padding: 4px 20px
	border-radius: 5px
	margin-bottom: 33px
	&__item
		display: inline-block
		&::before
			content: '/'
			font-size: 12px
			line-height: 22px
			color: #999
		&:first-child
			&::before
				display: none
		span
			&:hover
				color: #999
	&__link
		font-size: 12px
		line-height: 22px
		color: #999
		&:hover
			color: #000
.sidebar
.price-list
	padding-bottom: 17px
	&__link
		padding-left: 65px
		display: block
		width: 100%
		background-color: #ebebeb
		background-image: url(../img/icon/2.png)
		background-repeat: no-repeat
		background-position: 23px center
		height: 75px
		position: relative
	&__text
		position: absolute
		left: 65px
		top: 50%
		transform: translateY(-50%)
		display: block
		color: #4c4c4c
		font-family: "SFUIDisplayMedium", sans-serif
		font-size: 17px
