/* font-family: "SFUIDisplayRegular" */
@font-face {
  font-family: "SFUIDisplayRegular";
  src: url(../fonts/sfuid/SF-UI-Display-Regular.ttf);
}

/* font-family: "SFUIDisplayLight" */
@font-face {
  font-family: "SFUIDisplayLight";
  src: url(../fonts/sfuid/SF-UI-Display-Light.ttf);
}

/* font-family: "SFUIDisplayBold" */
@font-face {
  font-family: "SFUIDisplayBold";
  src: url(../fonts/sfuid/SF-UI-Display-Bold.ttf);
}

/* font-family: "SFUIDisplayMedium" */
@font-face {
  font-family: "SFUIDisplayMedium";
  src: url(../fonts/sfuid/SF-UI-Display-Medium.ttf);
}

/* font-family: "SFUIDisplaySemibold" */
@font-face {
  font-family: "SFUIDisplaySemibold";
  src: url(../fonts/sfuid/SF-UI-Display-Semibold.ttf);
}
