/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .header__top {
    height: auto;
  }
  .designed__text {
    padding-left: 42px;
  }
  .footer__phone {
    padding-left: 32px;
  }
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .other__item {
    text-align: left;
  }
  .phone__item {
    text-align: right;
  }
  .header__bottom {
    height: auto;
  }
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__top {
    padding: 5px 0;
  }
  .other__item {
    text-align: left;
    float: none;
    width: 100%;
  }
  .other__link {
    line-height: 20px;
  }
  .phone__item {
    text-align: right;
    float: none;
    width: 100%;
    line-height: 20px;
  }
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .nav__popup {
    display: none;
  }
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
